.feynman {
  min-height: 890px;
  display: flex;
  margin: 0;
  flex-direction: column;
  position: relative;
  background-image: url(/images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  padding: 0;
}
