.section-subtitle_theme_dark {
  margin: 20px auto 0;
  padding: 0;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
